<html>
<head>

</head>
<body>
<h1 style="text-align:center">Add New Product</h1>
<h3>
Enter Product Type:<input type="text" ng-model="type" />
</br>
Enter Product Color:<input type="text"  ng-model="color"/>
 </br>
Enter Product Size:<input type="text" ng-model="size"/> 
</br>
Enter Product Price:<input type="text"  ng-model="price"/>
 </br>
 
<!--
Enter Product Department:<input type="text"  ng-model=""/> 
<br>
 Enter Customer:&nbsp &nbsp <input type="text" ng-model="employee.deptt"/>
<br>
-->
<button ng-click="addProduct();">Add New Product</button>


</h3>
</body>


</html>