<html>
<head>
</head>
<body>

<h1 style="text-align:center;">Edit Product</h1>
<h2>Please fill the form according to new values</h2>
<h3>
Enter Product Type:<input type="text" ng-model="product.type" /> 
<br>
Enter Product Color: <input type="text" ng-model="product.color" />
<br>
Enter Product Size:<input type="text" ng-model="product.size" />
<br>
Enter Product Price: <input type="text" ng-model="product.price" />
<br>


<!--
Enter Department: <input type="text" ng-model="" />
<br>
Enter Customer: <input type="text" ng-model="" />
<br>
-->
<button ng-click="updateProduct();">Update Product</button>
<h3>
</body>
</html>