<html>
<head>
</head>
<body>
<h1 style="text-align:center;">Record Of Single Product</h1>

<table align="center" border="15" cellpadding="20" >
	<tr>
		<th style="color:red;"><u>Product Type</u></th>
		<th style="color:red;"><u>Product Color</u></th>
		<th style="color:red;"><u>Product Size</u></th>
		<th style="color:red;"><u>Product Price</u></th>
	    <!--
    <th style="color:red;"><u>Product Department</u></th>
    <th style="color:red;"><u>Customer</u></th>
	-->
	</tr>
	<tr>
		<td>{{product.type}}</td>
		<td>{{product.color}}</td>
		<td>{{product.size}}</td>
		<td>{{product.price}}</td>
	    
	<!--
		<td>{{employee.deptt}}</td>
	    <td>{{employee.deptt}}</td>
	-->
	</tr>
</table>

</body>
</html>