<html>
<head>

</head>
<body>
<h1 style="text-align:center">Add New Employee</h1>
<h3>

Enter Employee Name:<input type="text" ng-model="name" />
</br>
Enter Address: &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   <input type="text" ng-model="address"/> 
</br>
 Enter Employee CNIC:<input type="text" ng-model="cnic" />
</br>
Enter Cantact No:&nbsp &nbsp &nbsp <input type="text"  ng-model="phno"/>
 </br>	
Select Department No:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <select>
  <option >Volvo</option>
</select>

<!--Enter Department:&nbsp &nbsp <input type="text" ng-model=""/>-->
<br>
<button ng-click="addEmployee();">Add New Employee</button>


</h3>
</body>


</html>