<html>
<head>
</head>
<body>

<h1 style="text-align:center;">Edit Employee</h1>
<h2>Please fill the form according to new values</h2>
<h3>
Enter Name:&nbsp &nbsp &nbsp &nbsp <input type="text" ng-model="employee.name" /> 
<br>
Enter Address: &nbsp &nbsp <input type="text" ng-model="employee.address" />
<br>
Enter CNIC: <input type="text" ng-model="employee.cnic" />
<br>
Enter Contact No: <input type="text" ng-model="employee.phno" />
<br>
<!--Enter Department: <input type="text" ng-model="" />-->
<br>
<button ng-click="updateEmployee();">Update Employee</button>
<h3>
</body>
</html>