<html>
<head>
</head>
<body>
<h1 style="text-align:center;">Profile Of Single Employee</h1>

<table align="center" border="15" cellpadding="20" >
	<tr>
		<th style="color:red;"><u>Employee Name</u></th>
		<th style="color:red;"><u>Employee Address</u></th>
        <th style="color:red;"><u>Employee CNIC</u></th>
		<th style="color:red;"><u>Employee Cantact No</u></th>
	    
	</tr>
	<tr>
		<td>{{employee.name}}</td>
		<td>{{employee.address}}</td>
		<td>{{employee.cnic}}</td>
		<td>{{employee.phno}}</td>
	    
		
	</tr>
</table>

</body>
</html>